.navbar-header {
    margin-bottom: 10px;
    margin-top: 10px;
}
.top-bar {
    background: #e3e4e6 none repeat scroll 0 0;
    padding: 3px 0;
}
.top-bar .item {
    background: rgba(0, 0, 0, 0) url("../images/us-flag.png") no-repeat scroll left center;
    padding-left: 25px;
}
.navbar-default {
    background-color: #3793d2;
    border:none;
}
#navbar{
    border-radius:0;
}
.footer{
    background-color: #aeb0b5;
    padding-top:15px;
    padding-bottom:15px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #112e51;
    color: #fff;
}
.region.region-navigation {
    border: 0 none;
    bottom: 65px;
    position: absolute;
    right: 15px;
}
.navbar-nav.secondary{
    position:absolute;
    bottom:110px;
    right: 15px;
}
.navbar-default .navbar-nav.secondary > li > a {
    color: #112e51;
}
.navbar-default .navbar-nav.secondary > li > a:hover {
background: none;
    text-decoration: underline;
}
#navbar-collapse .form-control{
    border: 1px solid #112e51;
    border-right:0;
    box-shadow:none;
}
#navbar-collapse .btn-primary {
    background-color: transparent;
    border-color: #112351;
    color: #112351;
    border-left: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #112351;
}
.nopadding{
    padding:0 !important;
    padding:0 !important;
}
.block-facetapi .block-title {
    margin: 0;
    padding: 7px 25px;
    font-size: 16px;
    line-height: 1.3;
    background-color: #f6f6f6;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.well{
    background: #fff;
    padding: 0 0;
}

.facetapi-processed>li{
    font-size: 14px;
    line-height: 1.16666667em;
    padding: 15px 25px;
    border-bottom: 1px dotted #dddddd;
}
.facetapi-limit-link {
    padding: 15px 25px;
    margin: 0;
}
.leaf:last-of-type{
    border-bottom:0 none;
}
.block-facetapi ul{
    padding:0;
    margin:0;
}
.apachesolr_search-results .title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.3;
}
.search-result h3 a {
    color:#333;
}
.search-results{
    margin:0;
    padding:0;
    list-style-type:none;
}
.search-form .form-inline .form-group{
    width:100%;
}
.apachesolr-autocomplete{
    width:100% !important;
}
.form-submit.btn-primary {
    content:"\e003";
    border: medium none;
    cursor: pointer;

    height: 30px;
    padding: 0;
    position: absolute;
    right: 20px;
    text-indent: -900em;
    top: 148px;
    width: 30px;
}
.block-title {

    font-size: 16px;

}
.footer{
    margin-top:0;
}
.navbar{
    margin-bottom:0;
}
.main-container{
    padding-top:20px;
    padding-bottom:45px;
    background:#e6e6e6;
}
/*
.page-website-information .region-content .block h2,.page-website-information .region-content .block .view-website-information{
border:1px solid #333;
}
/* remove this after the themeing the page */
.highcharts-credits{
    display: none;

}
#new_chart,#https_chart,#dap_chart,#ssl_chart{
    width:140px;
    height:140px;
    float: right;
}

.page-website-information .pond-column .pond-column-inner .panel-pane {
    padding: 10px 15px;
    background: #fff none repeat scroll 0 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    min-height:305px;
}
.page-website-information .pond-column .pond-column-inner .panel-pane.domain-information {
    background:#046b99 url("/sites/all/themes/dotgov/images/domain-back.png") repeat-y scroll -110px 0;
    color: #ffffff;
    min-height: 225px;
}
.page-website-information .pond-column .pond-column-inner .panel-pane.domain-information a,
.page-website-information .pond-column .pond-column-inner .panel-pane.website-information a{
    color:#fff;
}
.page-website-information .pond-column .pond-column-inner .panel-pane.domain-information .pane-title,
.page-website-information .pond-column .pond-column-inner .panel-pane.domain-information .pane-content,
.page-website-information .pond-column .pond-column-inner .panel-pane.website-information .pane-title,
.page-website-information .pond-column .pond-column-inner .panel-pane.website-information .pane-content,
.page-website-information .pond-column .pond-column-inner .panel-pane.marketplace .pane-title,
.page-website-information .pond-column .pond-column-inner .panel-pane.marketplace .pane-content
{
    padding-left: 90px;
}
.pane-website-information .pane-title, .marketplace .pane-title{
    margin-top: 0;
}
.page-website-information .pond-column .pond-column-inner .panel-pane.domain-information .pane-content {
    background: rgba(0, 0, 0, 0) url("/sites/all/themes/dotgov/images/cloud.png") no-repeat scroll 0 40px / 60px auto;
}
.page-website-information .pond-column .pond-column-inner .panel-pane.website-information {
    background: #112e51 url("/sites/all/themes/dotgov/images/website-back.png") repeat-y scroll -110px 0;
    color: #ffffff;
    min-height: 225px;
}
.page-website-information .pond-column .pond-column-inner .panel-pane.website-information .pane-content {
    background: rgba(0, 0, 0, 0) url("/sites/all/themes/dotgov/images/world.png") no-repeat scroll 0 40px / 60px auto;
}
.page-website-information .pond-column .pond-column-inner .panel-pane.marketplace {
    background:#5b616b url("/sites/all/themes/dotgov/images/market-back.png") repeat-y scroll -110px 0;
    color: #ffffff;
    min-height: 225px;
}
.page-website-information .pond-column .pond-column-inner .panel-pane.marketplace .pane-content {
    background: rgba(0, 0, 0, 0) url("/sites/all/themes/dotgov/images/tag.png") no-repeat scroll 0 40px / 60px auto;
}
.page-agency-all .pond-column .pond-column-inner {
    background: #fff none repeat scroll 0 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.page-agency-all .pond-column .pond-column-inner .panel-pane {
    padding: 10px 15px;
}
.page-agency-all .pond-column {
    min-height: 1px;
    width: 33.043%;
    float: left;
}
.page-website-information .pond-secondary-column3, .page-website-information .pond-column3{
    width:31%;
}
.marketplace ul{
    margin:0;
    padding:0;
    list-style-position:inside;
}
.label[data-format=Tomcat],.label[data-format*=Tomcat] {
    background-color: #55a1ce
}

.label[data-format=JAVA],.label[data-format*=JAVA] {
    background-color: #ef7100
}

.label[data-format=GSA],.label[data-format*=GSA] {
    background-color: #ef7100
}

.label[data-format=Sharepoint],.label[data-format*=Sharepoint] {
    background-color: #74cbec
}

.label[data-format=csv],.label[data-format*=csv] {
    background-color: #dfb100
}

.label[data-format=IPV6],.label[data-format*=IPV6] {
    background-color: #2db55d
}

.label[data-format=HTTPS],.label[data-format*=HTTPS] {
    background-color: #686868
}

.label[data-format=HSTS],.label[data-format*=HSTS] {
    background-color: #ec96be
}

.label[data-format=DNSSEC],.label[data-format*=DNSSEC] {
    background-color: #e0051e
}

