.navbar-header {
  margin-bottom: 10px;
  margin-top: 10px;
}
.top-bar {
  background: #e3e4e6 none repeat scroll 0 0;
  padding: 3px 0;
}
.top-bar .item {
  background: rgba(0, 0, 0, 0) url("../images/us-flag.png") no-repeat scroll left center;
  padding-left: 25px;
}
.navbar-default {
  background-color: #3793d2;
  border:none;
}
#navbar{
border-radius:0;
}
.footer{
 background-color: #aeb0b5;
 padding-top:15px;
 padding-bottom:15px;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #112e51;
  color: #fff;
}
.region.region-navigation {
  border: 0 none;
  bottom: 70px;
  position: absolute;
  right: 15px;
}
.navbar-nav.secondary{
    position:absolute;
    bottom:115px;
     right: 15px;
}
.navbar-default .navbar-nav.secondary > li > a {
    color: #112e51;
}
#navbar-collapse .form-control{
border: 1px solid #112e51;
border-right:0;
box-shadow:none;
}
#navbar-collapse .btn-primary {
  background-color: transparent;
  border-color: #112351;
  color: #112351;
  border-left: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #112351;
}