html,body {
    font-size: 14px;
      color: #102d53;
}
body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #e6e6e6;
    padding: 2rem 0;
}
/* 1rem = 10px */
body h1 {
    font-size: 1.5rem;
}

.legend-container {
    font-style: italic;
}

.download-button:after {
  background: url(images/down-arrow.svg) no-repeat;
  content: '';
  position: relative;
  top: 3px;
  padding-left: 10px;
  margin-left: 12px;
}
/* h1 {
	font-family: 'Fjalla One', sans-serif;
} */
body h1 span {
    font-weight: 300;
}
body h2 {
    margin-bottom: 2rem;
}
a {
  color: #102e54;
}
.dblock-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

.bg-white {
    padding: 1.5rem 1.25rem;
    margin: 3rem 0;;
    background: #fff;
    border-radius: 6px;
}
.dashboard-wrap,.dashboard-right {
    display: flex;
    align-items: center;
}
.dashboard-right {
    justify-content: flex-end;
}
.dashboard-wrap .description {
    font-size: 18px;
    font-weight: 300;
}
.dashboard-wrap {
    flex-wrap: wrap;
}
.dashboard-wrap select {
    padding: .5rem .75rem;
    border-radius: 6px;
    border-width: 2px;
    margin-left: 1rem;
}

.dashboard-wrap h1 {
  font-weight: bold;
}
.number {
    /* font-size: 1.625rem; */
    font-size: 3rem;
}
.modern-wrap .modern-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-digital {
    border: 2px solid #102d53;
    padding: .5rem 2rem;
}
.btn-digital:hover {
    opacity: 0.6;
}
.agencies img {
    width: 100px;
    margin-bottom: 1rem;
}
.tooltip.top .tooltip-inner {
    background-color:#fff;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #fff;
}
.question-icon,.info-icon img {
    width: 30px;
}
.info-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 9;
}
.relative-position {
    position: relative;
}
.shadow {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1rem 1.5rem 1rem rgba(0, 0, 0, 0.15);
}
.shadow.p-1 {
    padding: .75rem;
}
.row-no-gutters [class*=col-] .row [class*=col-] [class*=col-] {
    padding-left: 1rem;
    padding-right: 1rem;
}
/* cards */
.card {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 6px;
}
.card-default {
    border-color: #ddd;
    background-color: #fff;
}
.card .card-header {
    border-radius: 6px 6px 0 0;
    padding: 1rem;
}
.card-title {
    font-size: 1.25rem;
}
.card .card-body {
    display: table;
    width: 100%;
    padding: 1rem;
}

.fw-300 {
  font-weight: 300;
}
.card .card-left {
    position: relative;
    float: left;
    padding: 0 0 .5rem 0;
}
.card .card-right {
    position: relative;
    float: left;
    padding: .5rem 0 0 0;
}
.card-default > .card-footer {
    border-top: 1px solid #ddd;
    padding: 1rem;
}
.card .card-footer {
    border-radius: 0 0 6px 6px;
    padding: 1rem;
}
.card-default > .card-header, .card-default > .card-footer {
    background-color: #f3f3f3;
}
.p-1 {
    padding: 1rem;
}
.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.pl-0 {
    padding-left: 0;
}
.pr-0 {
    padding-right: 0;
}
.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-3 {
    margin-bottom: 3rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.website--inner .pl-0 {
    padding-right: 0;
}
.website--inner .pr-0 {
    padding-left: 0;
}
table {
    width: 100%;
}
th,td {
    padding: .5rem 1rem;
}
td {
    background-color: #eef2f5;
}
th {
    color: #fff;
    /* padding: 1rem; */
    background-color: #7599b1;
}
th:first-child {
    border-top-left-radius: 5px;
}
th:last-child {
    border-top-right-radius: 5px;
}
/* tr:first-child td {
    padding-top: 1.5rem;
}
tr:last-child td {
    padding-bottom: 1.5rem;
} */
tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}
.d-flex {
    display: flex;
    align-items: center;
}
.mobile-requirements .table-responsive + table td {
    padding-left: 0;
    background-color: #fff;
}
button {
    border: 2px solid #102d53;
    padding: .5rem 1.5rem;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 1rem;
    font-weight: bold;
}

.container {
  width: 80%;
  margin: 15px auto;
}

.nmt-3{
  margin-top: -3rem;
}

.h2-title{
  font-weight: 400;
}

#chart-1-legend,
#chart-2-legend,
#chart-3-legend,
#chart-4-legend,
#chart-5-legend,
#chart-6-legend,
#chart-7-legend{
  list-style: none;
  text-align: center;
  padding-left: 0;
  font-style: italic;
}

#chart-1-legend li,
#chart-2-legend li,
#chart-3-legend li,
#chart-4-legend li,
#chart-5-legend li,
#chart-6-legend li,
#chart-7-legend li{
  display: inline-block;
  padding: 0 5px;
}

#chart-1-legend li.hidden,
#chart-2-legend li.hidden,
#chart-3-legend li.hidden,
#chart-4-legend li.hidden,
#chart-5-legend li.hidden,
#chart-6-legend li.hidden,
#chart-7-legend li.hidden {
  text-decoration: line-through;
}

#chart-1-legend li span,
#chart-2-legend li span,
#chart-3-legend li span,
#chart-4-legend li span,
#chart-5-legend li span,
#chart-6-legend li span,
#chart-7-legend li span  {
  border-radius: 5px;
  display: inline-block;
  height: 10px;
  margin-right: 10px;
  width: 10px;
}
.tooltip {
  pointer-events: none;
}
img.tt-img {
  width: 100px;
  height: auto;;
}
.idea-container img:hover {
    box-shadow: 0rem 0rem 5rem -1rem #4b6580;
    border-radius: 50%;
}
.tt-text {
  font-size: 20px;
}
.tooltip-inner {
    min-width: 250px;
    max-width: 100%;
}
.table-responsive {
    margin-top: 1rem;
}
@media screen and (min-width: 768px) {
    .logo-wrap {
        text-align: right;
    }
    .d-sm-flex {
        display: flex;
        align-items: center;
    }
    .card .card-left {
        float: left;
        padding: 0 8px 0 0;
        width: 25%;
    }
    .card .card-right {
        float: left;
        padding: 0 0 0 8px;
        width: 75%;
    }
    .web-info .card .card-body {
        min-height: 109px;
    }
    /* tr th:last-child,tr td:last-child {
        padding-left: 3rem;
    } */
}
@media screen and (min-width: 992px) {
    .modern-wrap .modern-item:not(:last-child) {
        border-right: 1px solid;
    }
    .card .card-body {
        padding: 2rem;
    }
    .card-title {
        font-size: 1.75rem;
    }
    .card .card-header {
        padding: 1rem 2rem;
    }
    .text-md-right {
        text-align: right;
    }
    .mobile-requirements table {
        min-height: 152px;
        height: 1px;
    }
    .mobile-requirements .table-responsive + table {
        min-height: 1px;
    }
    .web-info .card .card-body {
        min-height: 137px;
    }
    .shadow.p-1 {
        min-height: 111px;
    }
}
@media screen and (min-width: 1200px) {
    .mobile-requirements table {
        /* min-height: 200px; */
        width: 430px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 767px) {
    .mt-xs-1 {
        margin-top: 1rem;
    }
    .mt-xs-2 {
        margin-top: 2rem;
    }
    .info-icon {
        right: -5px;
    }
    table {
        max-width: 100%;
    }
    th,td {
        padding: .5rem;
        white-space: nowrap;
    }
    .card .card-body {
        display: block;
    }
    .idea-container .table-responsive {
        border: 0;
    }
    .chart-container canvas {
        max-width: 280px;
        max-height: 230px;
        margin: 0px auto;
    }
    table tr {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        border-bottom: 3px solid #ccc;
        display:block;
    }
    table tr:last-child {
        border-bottom: 0;
    }
    .table-responsive-stack-thead {
        font-weight: bold;
    }
    table td {
        display: block;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        white-space: normal;
    }
}
