body, table.pvtTable tbody tr th, table.pvtTable thead tr th, .pvtVal, .pvtGrandTotal  {
    font-size: 14px;
}

/* AxisLabel */

table.pvtTable .pvtAxisLabel {
    white-space: nowrap;
}

table.pvtTable .pvtAxisLabel.expanded {
    white-space: nowrap;
    /* cursor: pointer !important; */
}

table.pvtTable .pvtAxisLabel.collapsed {
    white-space: nowrap;
    /* cursor: pointer !important; */
}

table.pvtTable thead tr:last-child th:first-child:hover {
    cursor: pointer !important;
}
/* RowLabel */

table.pvtTable tbody tr th.pvtRowLabel {
    vertical-align: top !important;
    white-space: nowrap !important;
    /* background-color: white !important; */
    /*border-width: 0px 0px thin 0px !important;*/
}

table.pvtTable tbody tr th.pvtRowLabel.rowexpanded {
    cursor: zoom-out !important;
}

table.pvtTable tbody tr th.pvtRowLabel.rowcollapsed {
    cursor: pointer !important;
}

/* RowLabelFiller */

table.pvtTable .pvtRowLabelFiller {
    background-color: white;
    border-width: 0px 0px thin 0px !important;
}

/* RowSubtotal */

table.pvtTable .pvtRowSubtotal {
    font-weight: bold;
}

table.pvtTable tr td.pvtRowSubtotal.rowcollapsed {
    background-color: #EFEFEF !important;
}

/* ColLabel */

table.pvtTable thead tr th.pvtColLabel {
    white-space: nowrap;
}

/* table.pvtTable thead tr th.pvtColLabel.colexpanded {
    cursor: zoom-out !important;
}

table.pvtTable thead tr th.pvtColLabel.colcollapsed {
    cursor: zoom-in !important;
} */

/* ColLabelFiller */

table.pvtTable .pvtColLabelFiller {
    background-color: #EFEFEF !important;
}

/* ColSubtotal */

table.pvtTable .pvtColSubtotal {
    font-weight: bold;
}

table.pvtTable tr td.pvtColSubtotal {
    background-color: #EFEFEF !important;
}

/*
    *
    * IMPORTANT: Please do not remove the lines below this point
    *
    */

table.pvtTable tr .rowhide {
    display: none;
}

table.pvtTable tr .colhide {
    display: none;
}

.pvtTableContainer .pvtTablePageSection .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

.pvtTableContainer .pvtTablePageSection .paginate_button.current, .pvtTableContainer .pvtTablePageSection .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #979797;
    background-color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}

.pvtTablePageSection {
    margin-top: 10px;
}

.pvtTableWrapper {
    overflow-x: auto;
    max-width: 95vw;
    overflow-y: auto;
    max-height: 40vw;
    margin-left: -5px;
}

.pvtUi {
    width: auto;
}

.pvtTableSearchSection {
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: bold;
}

.pvtTableSearchSection span {
    display: block;
    color: #333333;
}

/* .searchInput {
    margin-left: 3px;
} */

/* th.pvtColLabel.pvtSortable {
    cursor: pointer !important;
} */

th.pvtColLabel.pvtSortable.pvtSortDesc>div.pvtFixedHeader::after {
    content: ' ↓';
}

th.pvtColLabel.pvtSortable.pvtSortAsc>div.pvtFixedHeader::after {
    content: ' ↑';
}

table.pvtTable th {
    position: sticky;
    z-index: 81;
}

table.pvtTable th {
    transform: translateZ(0);
    /* fixes chrome glitch with z-index + position:sticky */
}

table.pvtTable th.pvtRowLabel, table.pvtTable th.pvtColLabel {
    z-index: 80;
}

table.pvtTable {
    /* border-collapse:separate;
	box-sizing:border-box;
    border-spacing:0; */
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 0;
}

table.pvtTable th {
    border: 0px;
    box-sizing: border-box;
    padding: 0px !important;
    /* vertical-align: bottom !important; */
    border-width: 0px!important;
    z-index: 90;
}

table.pvtTable td {
    border-top: 0px;
    border-left: 0px;
    box-sizing: border-box;
}

/* fixed headers styles */

.pvtFixedHeaderOuterContainer {
    border: 1px solid #CDCDCD;
    overflow: auto;
}

.pvtFixedHeaderOuterContainer table.pvtTable {
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 0;
}

.pvtFixedHeaderOuterContainer table.pvtTable th {
    border: 0px;
    box-sizing: border-box;
}

.pvtFixedHeaderOuterContainer table.pvtTable td {
    border-top: 0px;
    border-left: 0px;
    box-sizing: border-box;
}

table.pvtTable.pvtFixedHeader th {
    padding: 0px !important;
    vertical-align: bottom !important;
    z-index: 90;
}

table.pvtTable.pvtFixedHeader th>div.pvtFixedHeader {
    z-index: 101;
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 5px;
    padding-left: 5px;
    padding-top: 5px;
}

table.pvtTable.pvtFixedHeader th.pvtColLabel>div.pvtFixedHeader, table.pvtTable.pvtFixedHeader th.pvtRowLabel>div.pvtFixedHeader {
    z-index: 99;
}

.pvtFixedHeaderOuterContainer table.pvtTable:not(.pvtHasTotalsLastColumn) tr>th.pvtColLabel:last-child>div.pvtFixedHeader, .pvtFixedHeaderOuterContainer table.pvtTable.pvtHasTotalsLastColumn tr>th.pvtTotalLabel:not(:first-child)>div.pvtFixedHeader {
    border-right-color: transparent;
}

.pvtFixedHeaderOuterContainer table.pvtTable tr>td:last-child {
    border-right-color: transparent;
}

.pvtFixedHeaderOuterContainer table.pvtTable>tr:last-child>th>div.pvtFixedHeader, .pvtFixedHeaderOuterContainer table.pvtTable>*:last-child>tr:last-child>th>div.pvtFixedHeader, .pvtFixedHeaderOuterContainer table.pvtTable tr:last-child>td {
    border-bottom-color: transparent;
}

.pvtStickyFixedHeader table.pvtTable.pvtFixedHeader th {
    position: sticky;
    z-index: 81;
}

.pvtStickyFixedHeader.pvtStickyChromeFixedHeader table.pvtTable.pvtFixedHeader th {
    transform: translateZ(0);
    /* fixes chrome glitch with z-index + position:sticky */
}

.pvtStickyFixedHeader table.pvtTable.pvtFixedHeader th>div.pvtFixedHeader {
    z-index: 70;
    position: static;
}

.pvtStickyFixedHeader table.pvtTable.pvtFixedHeader th.pvtRowLabel, .pvtStickyFixedHeader table.pvtTable.pvtFixedHeader th.pvtColLabel {
    z-index: 80;
}

.pvtStickyFixedHeader.pvtLoading {
    opacity: initial;
}

.pvtStickyFixedHeader.pvtLoading td, .pvtStickyFixedHeader.pvtLoading th>div.pvtFixedHeader {
    color: silver !important;
}

/* pvtFixedHeadersOutdated used in non-smooth scroll-event based fixed headers (fallback for browsers without sticky support) */

div.pvtFixedHeadersOutdated>table.pvtFixedHeader>tbody>tr>td>div.pvtFixedHeader, div.pvtFixedHeadersOutdated>table.pvtFixedHeader>tbody>tr>th>div.pvtFixedHeader, div.pvtFixedHeadersOutdated>table.pvtFixedHeader>thead>tr>th>div.pvtFixedHeader {
    top: 0px !important;
    left: 0px !important;
}

.pvtRendererArea{
    width: auto;
}

.alert-no-data{
    text-align: center;
    padding: 20px;
    border: 1px solid rosybrown;
}

table.pvtTable{
    border-right: 1px solid #CDCDCD;
}

table.pvtTable thead tr th div {
  background: #1d5d84 !important;
}

table.pvtUi tbody tr:first-child td{
    display: none;
}
table.pvtUi tr:first-child td{
    display: none;
}

table.pvtTable tbody tr:first-child td{
    display: table-cell;
}
table.pvtTable tbody tr:first-child td.rowTotal{
    display: none;
}

td.pvtAxisContainer.pvtUnused.pvtVertList.ui-sortable,
td.pvtAxisContainer.pvtRows.ui-sortable {
    display: none;
}

.pvtTable tbody tr th {
    height: 30px;
}

table.pvtTable thead tr th div {
    color: #fff;
}

.controls {
    margin-left: 2.5rem;
    font-weight: bold;
}

table.pvtTable tr:nth-child(2n+1) td, table.pvtTable tbody tr:nth-child(2n+1) th.pvtRowLabel div, th.pvtTotalLabel div {
    background: #f9f9f9;
}

.pvtTablePageSection {
    display: none;
}


.filterList {
  display: block;
  width: 75%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.page-accessibility .region-content  {
  padding: 20px 15px;
  background: #fff none repeat scroll 0 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}


.filterSection, .filterSearch {
  display: flex;
}

.filterSearch {
  float: left;
}
.searchSection {
  margin-left: 3rem;
}

.pvtTableSearchSection {
  display: flex;
  flex-direction: column;
  margin-left: -5px;
}

.searchInput {
  height: 27px;
  margin-top: 4px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #555555;
  width: fit-content;
}

.searchInputAlter{
    height: 34px;
    padding: 6px 12px;
    margin-top: 0px;
}

.filterList {
  width: fit-content;
}


.filterLabel {
  padding-top: 6px;
  padding-right: 6px;
  color: #333;
  font-weight: bold;
}

.searchLabel {
  padding-right: 6px;
  color: #333;
  font-weight: bold;
}

.pvtTableWrapper.pvtFixedHeaderOuterContainer.pvtStickyFixedHeader.pvtStickyChromeFixedHeader {
  border: none;
}

.pvtAxisLabel .pvtFixedHeader {
  font-weight: bold;
}

.agency-wide th.pvtColLabel {
  max-width: 120px !important;
} 

thead tr:first-child th.pvtColLabel .pvtFixedHeader {
  white-space: break-spaces;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
}

thead tr:first-child th.pvtAxisLabel .pvtFixedHeader, thead tr:nth-child(2) th.pvtAxisLabel .pvtFixedHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.agency-wide thead tr:nth-child(2) th.pvtColLabel .pvtFixedHeader {
  white-space: break-spaces;
  word-break: break-word;
  width: 120px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}



.gov-my-agency-wide  .pvtTable.pvtFixedHeader thead tr:nth-child(2) th:nth-child(n+2) .pvtFixedHeader {
    width: 250px !important;
    white-space: break-spaces;
}

.tableScroll .scroll {
    width: 30px;
    height: 40px;
}

.tableScroll {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableScroll button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.tableHeader .text {
  margin-left: 3rem;
  margin-top: 0.7rem;
  color: #333;
  font-weight: bold;
}

#right, #left  {
  z-index: 99;
  opacity: .5;
}

#right:hover, #left:hover {
  opacity: 1;
}

.downloadReport {
  float: right;
}

.downloadReport p {
    font-size: 16px;
}

.pvtTable tbody tr td:last-child, .pvtTable thead tr:first-child th:last-child {
  display: none;
}

.pvtTable thead tr:last-child th:nth-child(3) .pvtFixedHeader {
  border-right: none !important;
}

.agency-acess  thead tr:nth-child(2) th.pvtAxisLabel .pvtFixedHeader {
    justify-content: start;
}
.agency-acess  thead tr:nth-child(2) {
    justify-content: start;
    height: 30px !important;
}

td.pvtVal.pvtRowSubtotal.rowshow.colexpanded.colshow.rowexpanded {
    background: #dfe4e7 !important;
}

table.pvtTable tbody tr th, table.pvtTable thead tr th {
  background-color: #f9f9f9;
}


table.pvtTable tbody tr th.rowexpanded, table.pvtTable thead tr th.rowexpanded {
  background-color: #fff;
}

th.pvtRowLabel.rowshow.rowexpanded.rowcol0 .pvtFixedHeader {
  background: #dfe4e7 !important;
}

/* .gov-my-agency-wide thead tr:first-child th.pvtColLabel .pvtFixedHeader {
  word-break: break-word;
} */

.agency-wide th.pvtRowLabel.rowcol2 .pvtFixedHeader, .gov-my-agency-wide th.pvtRowLabel.rowcol2 .pvtFixedHeader{
  height: auto;
  width: 275px !important;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: break-spaces;
}

.agency-wide thead tr:nth-child(2) th.pvtAxisLabel .pvtFixedHeader {
    display: flex;
    align-items: center;
    justify-content: left;
}


.d-none {
    display: none;
}

th.pvtRowLabel.rowcol0.rowcollapsed .pvtFixedHeader {
    height: 31px !important;
}

.negative-image {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -50;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .agency-wide th.pvtRowLabel.rowcol2 .pvtFixedHeader, .gov-my-agency-wide th.pvtRowLabel.rowcol2 .pvtFixedHeader{
        -ms-word-break: break-all;
        white-space: pre-wrap;
      }
}

@media only screen and (min-width: 992px) {
    .access-table-controls .search-box label {
        text-align: right;
   }
    .access-table-controls .link-download p {
        text-align: right;
   }
}

@media only screen and (max-width: 991px) {
    .access-table-controls .search-box {
       margin-top: 1rem;
   }
   .pvtTableWrapper {
        max-width: 94vw;
   }
   .pvtRendererArea {
        padding: 0;
    }
    .filterLabel {
        padding-right: 0;
    }
}